<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Seller</title>
    <link rel="stylesheet" type="text/css" href="./../static/style.css">
</head>
<body>
    <header class="header">
        <div class="header-links">
            <form action="/" method="get"> <button>HOME</button> </form>
            <form action="/login"> <button>LOG IN</button> </form>
        </div>
    </header>

    <div>
        <div>
            <h1 th:text="${'Welcome, ' + user_info.getName() + '!'}"></h1>
        </div>

        <div>
            <form th:action="@{/account/{id}/newAnnouncement(id=${user_info.getId()})}" method="get">
                <input type="submit" value="Add anouncment">
            </form>
        </div>

        <div th:each="car : ${cars}">
            <h3 th:text="${car.getMarkaEntity().getMarka() + ' ' + car.getPrice()}"></h3>
            <p>
                <form th:action="@{/auto/{id}/edit(id=${car.getId()})}" method="get">
                    <input type="submit" value="Edit">
                </form>

                <form th:action="@{/auto/{id}/delete(id=${car.getId()})}" th:method="delete">
                    <input type="submit" value="Delete">
                </form>
            </p>
        </div>
    </div>
</body>
</html>